.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px;
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed{
    background: #FF9900;
    border-radius: 4px;
    width: 90%;
    width: 90%;
    height: 50px;
    font-size: 15px;
    margin: 10px auto;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}